openapi: 3.0.0
info:  
  title: eService (eDistrict), Arunachal Pradesh
  description: eService (eDistrict), Arunachal Pradesh (http://eservice.arunachal.gov.in/) is the online service delivery portal for Arunachal Pradesh  State Govt. Certain documents issued by it (e.g. Income, Caste, Domicile, Dependency, SC/ST ,Character,  Residence Certificates etc) are made available in citizens' DigiLocker accounts.
  termsOfService: https://apisetu.gov.in/terms.php
  version: 3.0.0
servers:
  - url: 'https://apisetu.gov.in/certificate/v3/eservicearunachal'
paths:
  /chcer:
    post:
      tags:
        - APIs
      summary: Character Certificate
      description: API to verify Character Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: chcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /dpcer:
    post:
      tags:
        - APIs
      summary: Dependency Certificate
      description: API to verify Dependency Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: dpcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /dmcer:
    post:
      tags:
        - APIs
      summary: Domicile Certificate
      description: API to verify Domicile Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: dmcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /incer:
    post:
      tags:
        - APIs
      summary: Income Certificate
      description: API to verify Income Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: incer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /rmcer:
    post:
      tags:
        - APIs
      summary: Marriage Certificate
      description: API to verify Marriage Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: rmcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /rscer:
    post:
      tags:
        - APIs
      summary: Residence Certificate
      description: API to verify Residence Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: rscer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /shcer:
    post:
      tags:
        - APIs
      summary: SC/ST  Certificate
      description: API to verify SC/ST  Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: shcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - RefNo
                    - TokenNo
                    - FullName
  
                  properties:
                    RefNo:
                      type: string
                      description: Certificate Reference No
                      example: "eService Certificate No like ARSTC/2018/005241"
                    TokenNo:
                      type: string
                      description: Token No
                      example: "Printed on the bottom of the certificate like 8624"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
components:
  schemas:
    ConsentArtifactSchema:
      $ref: './common/ConsentArtifactSchema.yaml#/ConsentArtifactSchema'
    AcademicCertificateSchema:
      $ref: './common/AcademicCertificateSchema.yaml#/AcademicCertificateSchema'
      
  responses:
    400Error:
      $ref: './common/ErrorResponse.yaml#/400Error'
    401Error:
      $ref: './common/ErrorResponse.yaml#/401Error'
    404Error:
      $ref: './common/ErrorResponse.yaml#/404Error'
    500Error:
      $ref: './common/ErrorResponse.yaml#/500Error'
    502Error:
      $ref: './common/ErrorResponse.yaml#/502Error'
    503Error:
      $ref: './common/ErrorResponse.yaml#/503Error'
    504Error:
      $ref: './common/ErrorResponse.yaml#/504Error'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-APISETU-CLIENTID
    apiKey:
      type: apiKey
      in: header
      name: X-APISETU-APIKEY