openapi: 3.0.0
info:  
  title: Go Digit General Insurance Ltd.
  description: Car, Two wheeler and Commercial Vehicle insurance policies issued by GoDigit (https://www.godigit.com), a General Insurance company, can be fetched by Citizens in their DigiLocker accounts.
  termsOfService: https://apisetu.gov.in/terms.php
  version: 3.0.0
servers:
  - url: 'https://apisetu.gov.in/certificate/v3/godigit'
paths:
  /hlipc:
    post:
      tags:
        - APIs
      summary: Insurance - Health
      description: API to verify Insurance - Health.
      security:
        - clientId: []
          apiKey: []
      operationId: hlipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - PolicyNumber
                    - SearchDocument
                    - DocumentNumber
                    - FullName
                    - DOB
                    - GENDER
  
                  properties:
                    PolicyNumber:
                      type: string
                      description: Policy Number
                      example: "D012345678"
                    SearchDocument:
                      type: string
                      description: Select any one from the List
                      example: "Mobile Number,Email,DateOfBirth"
                    DocumentNumber:
                      type: string
                      description: Enter Value
                      example: "YYYY-MM-DD"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
                    GENDER:
                      type: string
                      description: Gender - M for male, F for female and O for other
                      example: "M"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /cripc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Car
      description: API to verify Insurance Policy - Car.
      security:
        - clientId: []
          apiKey: []
      operationId: cripc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - PolicyNumber
                    - SearchDocument
                    - DocumentNumber
                    - FullName
                    - DOB
                    - GENDER
  
                  properties:
                    PolicyNumber:
                      type: string
                      description: PolicyNumber
                      example: "D0123456789"
                    SearchDocument:
                      type: string
                      description: Select Any one form the list
                      example: "Mobile Number,Chassis Number,Vehicle Registration Number"
                    DocumentNumber:
                      type: string
                      description: Enter Value
                      example: "01234567890/12345678901234567/AA11AA1111"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
                    GENDER:
                      type: string
                      description: Gender - M for male, F for female and O for other
                      example: "M"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /cvipc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Commercial Vehicle
      description: API to verify Insurance Policy - Commercial Vehicle.
      security:
        - clientId: []
          apiKey: []
      operationId: cvipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - PolicyNumber
                    - SearchDocument
                    - DocumentNumber
                    - FullName
                    - DOB
                    - GENDER
  
                  properties:
                    PolicyNumber:
                      type: string
                      description: PolicyNumber
                      example: "D0123456789"
                    SearchDocument:
                      type: string
                      description: Select Any one form the list
                      example: "Mobile Number,Chassis Number,Vehicle Registration Number"
                    DocumentNumber:
                      type: string
                      description: Enter Value
                      example: "01234567890/12345678901234567/AA11AA1111"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
                    GENDER:
                      type: string
                      description: Gender - M for male, F for female and O for other
                      example: "M"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /twipc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Two Wheeler
      description: API to verify Insurance Policy - Two Wheeler.
      security:
        - clientId: []
          apiKey: []
      operationId: twipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - PolicyNumber
                    - SearchDocument
                    - DocumentNumber
                    - FullName
                    - DOB
                    - GENDER
  
                  properties:
                    PolicyNumber:
                      type: string
                      description: PolicyNumber
                      example: "D0123456789"
                    SearchDocument:
                      type: string
                      description: Select Any one form the list
                      example: "Mobile Number,Chassis Number,Vehicle Registration Number"
                    DocumentNumber:
                      type: string
                      description: Enter Value
                      example: "01234567890/12345678901234567/AA11AA1111"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
                    GENDER:
                      type: string
                      description: Gender - M for male, F for female and O for other
                      example: "M"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
components:
  schemas:
    ConsentArtifactSchema:
      $ref: './common/ConsentArtifactSchema.yaml#/ConsentArtifactSchema'
    AcademicCertificateSchema:
      $ref: './common/AcademicCertificateSchema.yaml#/AcademicCertificateSchema'
      
  responses:
    400Error:
      $ref: './common/ErrorResponse.yaml#/400Error'
    401Error:
      $ref: './common/ErrorResponse.yaml#/401Error'
    404Error:
      $ref: './common/ErrorResponse.yaml#/404Error'
    500Error:
      $ref: './common/ErrorResponse.yaml#/500Error'
    502Error:
      $ref: './common/ErrorResponse.yaml#/502Error'
    503Error:
      $ref: './common/ErrorResponse.yaml#/503Error'
    504Error:
      $ref: './common/ErrorResponse.yaml#/504Error'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-APISETU-CLIENTID
    apiKey:
      type: apiKey
      in: header
      name: X-APISETU-APIKEY