openapi: 3.0.0
info:  
  title: Gujarat State Board of Secondary And Higher Secondary Education
  description: Class X and XII (2018) Marksheets and Passing Certificates issued by Gujarat Secondary And Higher Secondary Education Board, Gandhinagar (http://www.gseb.org) can be pulled by students into their DigiLocker accounts.
  termsOfService: https://apisetu.gov.in/terms.php
  version: 3.0.0
servers:
  - url: 'https://apisetu.gov.in/certificate/v3/gseb'
paths:
  /sscer:
    post:
      tags:
        - APIs
      summary: Class X Marksheet
      description: API to verify Class X Marksheet.
      security:
        - clientId: []
          apiKey: []
      operationId: sscer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - DOC_NO
                    - MONTH
                    - YEAR
                    - FullName
                    - DOB
  
                  properties:
                    DOC_NO:
                      type: string
                      description: Document No
                      example: "Marksheet No/Certificate No"
                    MONTH:
                      type: string
                      description: Month
                      example: "MARCH"
                    YEAR:
                      type: string
                      description: Year
                      example: "2017"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /spcer:
    post:
      tags:
        - APIs
      summary: Class X Passing Certificate
      description: API to verify Class X Passing Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: spcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - DOC_NO
                    - MONTH
                    - YEAR
                    - FullName
                    - DOB
  
                  properties:
                    DOC_NO:
                      type: string
                      description: Document No
                      example: "Marksheet No/Certificate No"
                    MONTH:
                      type: string
                      description: Month
                      example: "MARCH"
                    YEAR:
                      type: string
                      description: Year
                      example: "2017"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
                    DOB:
                      type: string
                      description: Date of birth in DD-MM-YYYY format
                      example: "31-12-1980"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /hscer:
    post:
      tags:
        - APIs
      summary: Class XII Marksheet
      description: API to verify Class XII Marksheet.
      security:
        - clientId: []
          apiKey: []
      operationId: hscer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                certificateParameters:
                  type: object
                  required:
                    - DOC_NO
                    - stream
                    - session
                    - FullName
  
                  properties:
                    DOC_NO:
                      type: string
                      description: Document No
                      example: "Marksheet No/Certificate No"
                    stream:
                      type: string
                      description: STREAM
                      example: "GENERAL,SCIENCE"
                    session:
                      type: string
                      description: SESSION
                      example: "MAR-2018"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /hpcer:
    post:
      tags:
        - APIs
      summary: Class XII Passing Certificate
      description: API to verify Class XII Passing Certificate.
      security:
        - clientId: []
          apiKey: []
      operationId: hpcer
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                certificateParameters:
                  type: object
                  required:
                    - DOC_NO
                    - stream
                    - session
                    - FullName
  
                  properties:
                    DOC_NO:
                      type: string
                      description: Document No
                      example: "Marksheet No/Certificate No"
                    stream:
                      type: string
                      description: STREAM
                      example: "GENERAL,SCIENCE"
                    session:
                      type: string
                      description: SESSION
                      example: "MAR-2018"
                    FullName:
                      type: string
                      description: Full name
                      example: "Sunil Kumar"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
components:
  schemas:
    ConsentArtifactSchema:
      $ref: './common/ConsentArtifactSchema.yaml#/ConsentArtifactSchema'
    AcademicCertificateSchema:
      $ref: './common/AcademicCertificateSchema.yaml#/AcademicCertificateSchema'
      
  responses:
    400Error:
      $ref: './common/ErrorResponse.yaml#/400Error'
    401Error:
      $ref: './common/ErrorResponse.yaml#/401Error'
    404Error:
      $ref: './common/ErrorResponse.yaml#/404Error'
    500Error:
      $ref: './common/ErrorResponse.yaml#/500Error'
    502Error:
      $ref: './common/ErrorResponse.yaml#/502Error'
    503Error:
      $ref: './common/ErrorResponse.yaml#/503Error'
    504Error:
      $ref: './common/ErrorResponse.yaml#/504Error'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-APISETU-CLIENTID
    apiKey:
      type: apiKey
      in: header
      name: X-APISETU-APIKEY