openapi: 3.0.3
info:
  title: MCA Company Details APIs
  description: Ministry of Corporate Affairs (MCA) APIs to fetch the details of the company and its directors using the CIN number.  <i>[Updated on 25 June 2021]</i>
  
  termsOfService: https://apisetu.gov.in/terms.php
  contact:
    name: Ministry of Corporate Affairs, Government of India
    url:  https://www.mca.gov.in/
  version: 1.0.0
  
servers:
  - url: https://apisetu.gov.in/mca/v1

paths:
  /companies/{cin}:
    get:
      tags: 
       - Company Details APIs
      summary: Company Information 
      description:  API to get company details.
      operationId: cin
      
      security:
      - apikey: []
      - clientId: []
      
      parameters:
      - in: path
        name: cin
        required: true
        schema:
          type: string    
    
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  cin:
                    type: string
                    minLength: 1
                    example: "L17110MH1973PLC019786"
                  companyName:
                    type: string
                    minLength: 1
                    example: "RELIANCE INDUSTRIES LIMITED"
                  companyStatus:
                    type: string
                    minLength: 1
                    example: "Active"
                  email:
                    type: string
                    minLength: 1
                    example: "savithri.parekh@ril.com"
                  financialAuditStatus:
                    type: string
                    minLength: 1
                    example: "YES"
                  incorporationDate:
                    type: string
                    minLength: 1
                    example: "08/05/1973"
                  registeredAddress:
                    type: string
                    minLength: 1
                    example: "3 RD FLOORMAKER CHAMBER IV 222 NARIMAN POINT MUMBAI MH 400021 IN"
                  registeredContactNo:
                    type: string
                    example: ""
                  rocCode:
                    type: string
                    minLength: 1
                    example: "RoC-Mumbai"
                  financialDetails:
                    type: array
                    uniqueItems: true
                    minItems: 1
                    items:
                      required:
                        - profitLoss
                        - turnover
                        - year
                      properties:
                        profitLoss:
                          type: string
                          minLength: 1
                          example: "309030000000.00"
                        turnover:
                          type: string
                          minLength: 1
                          example: "3508800000000.00"
                        year:
                          type: string
                          minLength: 1
                          example: "2020"
                required:
                  - cin
                  - companyName
                  - companyStatus
                  - email
                  - financialAuditStatus
                  - incorporationDate
                  - registeredAddress
                  - registeredContactNo
                  - rocCode
                  - financialDetails
                  
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
                      
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error' 
                 
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
                    
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500Error'  
                
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/502Error'  
                
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503Error' 
                         
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/504Error'
                      
  /companies/{cin}/directors:
    get:
      tags: 
       - Company Details APIs
      summary: Company Director
      description: API to get list of directors of a company.
      operationId: directors
      
      security:
      - apikey: []
      - clientId: []
      
      parameters:
      - in: path
        name: cin
        required: true
        schema:
          type: string    
    
      responses: 
        '200':
          description: Successfull operation
          content:
            application/json:
              schema:
                type: array
                minItems: 1
                uniqueItems: true
                items:
                  type: object
                  required:
                    - contactNumber
                    - din
                    - name
                  properties:
                    contactNumber:
                      type: string
                      minLength: 1
                      example: 5353
                    din:
                      type: string
                      minLength: 1
                      example: 0000001879
                    name:
                      type: string
                      minLength: 1
                      example: "YOGENDRA PREMKRISHNA TRIVEDI"
                      
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'              
                      
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'              
                      
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'              
                      
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/500Error'              
                   
        '502':
          description: Bad Gateway
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/502Error'
                
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/503Error'
                
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/504Error'              
      
components:
  schemas:
    400Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid parameter
            - missing parameter
            
        errorDescription:
          type: string
          enum:
            - Bad request
            - Please provide all mandatory parameters.
    401Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - invalid_authentication
            - invalid_authorization
        errorDescription:
          type: string
          enum:
            - Authentication failed
            - You are not authorized to use this API
    404Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - record_not_found
            - Url not found
        errorDescription:
          type: string
          enum:
            - No record found
            - Your API url or path is incorrect.
    500Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - internal_server_error
        errorDescription:
          type: string
          enum:
            - Internal server error
    502Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - bad gateway
        errorDescription:
          type: string
          enum:
            - Publisher service returned an invalid response.
    503Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - service_unavailable
        errorDescription:
          type: string
          enum:
            - Publisher service is temporarily unavailable
    504Error:
      type: object
      properties:
        error:
          type: string
          enum:
            - gateway_timeout
        errorDescription:
          type: string
          enum:
            - Publisher service did not respond in time  
  
  securitySchemes: 
    clientId:
      type: apiKey
      in: header
      name: X-APISETU-CLIENTID
    apikey:
      type: apiKey
      name: X-APISETU-APIKEY
      in: header           
          
  
    

 
