openapi: 3.0.0
info:  
  title: The Oriental Insurance Co. Ltd.
  description: General Insurance policies such as Motor, Health, Travel, Property, Engineering  e.t.c issued by The Oriental  Insurance are available to be pulled for citizens of India.
  termsOfService: https://apisetu.gov.in/terms.php
  version: 3.0.0
servers:
  - url: 'https://apisetu.gov.in/certificate/v3/orientalinsurance'
paths:
  /egipc:
    post:
      tags:
        - APIs
      summary: Insurance - Engineering
      description: API to verify Insurance - Engineering.
      security:
        - clientId: []
          apiKey: []
      operationId: egipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /hlipc:
    post:
      tags:
        - APIs
      summary: Insurance - Health
      description: API to verify Insurance - Health.
      security:
        - clientId: []
          apiKey: []
      operationId: hlipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /mripc:
    post:
      tags:
        - APIs
      summary: Insurance - Marine
      description: API to verify Insurance - Marine.
      security:
        - clientId: []
          apiKey: []
      operationId: mripc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /pripc:
    post:
      tags:
        - APIs
      summary: Insurance - Property
      description: API to verify Insurance - Property.
      security:
        - clientId: []
          apiKey: []
      operationId: pripc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /cripc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Car
      description: API to verify Insurance Policy - Car.
      security:
        - clientId: []
          apiKey: []
      operationId: cripc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /cvipc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Commercial Vehicle
      description: API to verify Insurance Policy - Commercial Vehicle.
      security:
        - clientId: []
          apiKey: []
      operationId: cvipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /hmipc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Home
      description: API to verify Insurance Policy - Home.
      security:
        - clientId: []
          apiKey: []
      operationId: hmipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /tripc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Travel
      description: API to verify Insurance Policy - Travel.
      security:
        - clientId: []
          apiKey: []
      operationId: tripc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /twipc:
    post:
      tags:
        - APIs
      summary: Insurance Policy - Two Wheeler
      description: API to verify Insurance Policy - Two Wheeler.
      security:
        - clientId: []
          apiKey: []
      operationId: twipc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
  /podoc:
    post:
      tags:
        - APIs
      summary: Policy Document
      description: API to verify Policy Document.
      security:
        - clientId: []
          apiKey: []
      operationId: podoc
      requestBody:
        description: Request format
        content:
          application/json:
            schema:
              type: object
              required:
                - txnId
                - format
              properties:
                txnId:
                  type: string
                  format: uuid
                  description: A unique transaction id for this request in UUID format. It is used for tracking the request.
                  example: "f7f1469c-29b0-4325-9dfc-c567200a70f7"
                format:
                  type: string
                  description: The format of the certificate in response.
                  enum:
                    - pdf
                certificateParameters:
                  type: object
                  required:
                    - POLNO
                    - STARTDT
                    - INSCODE
  
                  properties:
                    POLNO:
                      type: string
                      description: POLNO
                      example: "215700/31/2020/211"
                    STARTDT:
                      type: string
                      description: STARTDT
                      example: "13-APR-2019"
                    INSCODE:
                      type: string
                      description: INSCODE
                      example: "99999999"
  
                consentArtifact:
                  $ref: '#/components/schemas/ConsentArtifactSchema'
      responses:
        '200':
          description: The certificate data in response body in PDF, XML or JSON format as requested in format parameter.
          content:
            application/pdf:
              example: Response body contains contents of the certificate in PDF format.
        '400':
          $ref: '#/components/responses/400Error'
        '401':
          $ref: '#/components/responses/401Error'
        '404':
          $ref: '#/components/responses/404Error'
        '500':
          $ref: '#/components/responses/500Error'
        '502':
          $ref: '#/components/responses/502Error'
        '503':
          $ref: '#/components/responses/503Error'
        '504':
          $ref: '#/components/responses/504Error'
components:
  schemas:
    ConsentArtifactSchema:
      $ref: './common/ConsentArtifactSchema.yaml#/ConsentArtifactSchema'
    AcademicCertificateSchema:
      $ref: './common/AcademicCertificateSchema.yaml#/AcademicCertificateSchema'
      
  responses:
    400Error:
      $ref: './common/ErrorResponse.yaml#/400Error'
    401Error:
      $ref: './common/ErrorResponse.yaml#/401Error'
    404Error:
      $ref: './common/ErrorResponse.yaml#/404Error'
    500Error:
      $ref: './common/ErrorResponse.yaml#/500Error'
    502Error:
      $ref: './common/ErrorResponse.yaml#/502Error'
    503Error:
      $ref: './common/ErrorResponse.yaml#/503Error'
    504Error:
      $ref: './common/ErrorResponse.yaml#/504Error'
  securitySchemes:
    clientId:
      type: apiKey
      in: header
      name: X-APISETU-CLIENTID
    apiKey:
      type: apiKey
      in: header
      name: X-APISETU-APIKEY